/* Start Concernning */
.concernning , .travel{
    padding: 80px 0;
}
.concernning_box , .travel_box{
    width: 85% ;
    margin: 0 auto ;
}
.concernning_items , .travel_items{
    display: flex;
}
.concernning_left , .travel_right{
    width: 65%;
}
.concernning_left img , .travel_right img{
    width: 60%;
}
.concernning_right , .travel_left{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.right-span-title{
    color: black;
    font-size: 65px;
    display: block;
    word-spacing: 1px;
}
.concernning_right_title , .travel_left_title{
    font-size: 20px;
    width: 80%;
    /* padding: 20px 0; */
    color: gray;
    word-spacing: 2px;
    font-weight: lighter;
}
.concernning_right_info , .travel_left_info{
    color: black;
    font-size: 15px;
    width: 50%;
    margin-bottom: 50px;
    word-spacing: 3px;
    margin-top: 30px;
}
.right-span-left{
    color: gray;
    font-size: 25px;
    text-decoration:line-through;
    font-weight: lighter;
}
.right-span-right{
    color: gray;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 10px;
}
/* End Concernning */

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main-span-box{
    display: flex;
    margin-top: 10px;
}


.input {
    max-width: 90px;
    padding:10px;
    font-size: 17px;
    color: black;
    border: 2px solid black;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .button {
    border: none;
    background-color: #a5141a;
    text-decoration: none;
    padding: 12px;
    padding-bottom: 14px;
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    word-spacing: 0px;
    font-weight: bold;
    transition-duration: 0.5s;
    margin-bottom: 2px;
  }
  .button:hover{
    background-color: #ffb91a;
  }
  .main-card-section{
    margin-top: 30px;
  }

  .main-icon-span{
    display: flex;
    line-height: 0;
  }
  .main-icon-span img{
    width: 25px;
    height: 25px;
    /* margin-top: 13px; */
    margin-right: 3px;
  }